<launch>
  
  <node pkg="microstrain_comm_35" type="microstrain_comm_35_node" name="microstrain_comm_35_node" output="screen" launch-prefix="xterm -e gdb --args">
    <param name="rate" value="low" />
    <param name="verbose" value="true" />
    <param name="debug" value="false" />
    <param name="init" value="yes" />
  </node>

</launch>
